<div class="work-main ma-le ma-re">
    <div class="work-text">
        <h3>Sharkie</h3>
        <span> Javascript | HTML | CSS </span>
        <p>{{'SHARKIETEXT' | translate}}</p>
        <div class="button-join">
            <a href="https://github.com/SebastianBenning/Sharki"><button>Github</button></a>
        </div>
    </div>
    <div class="image-content"><a href="http://sebastian-benning.developerakademie.net/Sharki/index.html"><img class="image-work" src="/assets/img/sharkie.png" alt=""></a></div>
    <div><img class="half-ball-right" src="/assets/img/Ellipse.png" alt=""></div>
</div>