<div class="work-main ma-le ma-re">
    <div class="work-text">
        <h3>Sharkie</h3>
        <span> Javascript | HTML | CSS </span>
        <p>Jump, run and throw game based on object-oriented approach. Help sharkie to find coins and poison bottles to fight against the killer whale.</p>
        <button>Github</button>
    </div>
    <div><img class="image-work" src="/assets/img/sharkie.png" alt=""></div>
    <div><img class="half-ball-right" src="/assets/img/Ellipse.png" alt=""></div>
</div>
