

.pointer-ball{
    position: absolute;
    top: calc(100vh  - 120px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width: 240px;
    }
}

.my-description{
    display: flex;
    margin-top: 160px;

}

.me-text{
    width: 50%;
    h2{
        margin: 0;     
        font-size: 70px;
        color: #5988FF;
        
    }
    p{
        font-size: 20px;
    }
    span{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    button{
        height: 45px;
        width: 180px;
        border-radius: 10px;
        font-size: 20px;
        color: #5988FF;
        border-color: #5988FF;
        background-color: white;
    }
}

.my-image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.image-radius{
width: 250px;
height: 250px;

    img{
        height: 250px;
        width: 250px;
        border-radius: 100%;
        object-fit: cover;
        border: 4px solid #5988FF;
    }
}