<div class="pointer-ball">
    <img src="/assets/img/Ellipse.png" alt="">
</div>
<div class="my-description ma-le ma-re" id="aboutMe">
    <div class="me-text">
        <h2>{{'ME.TITLE' | translate}}</h2>
        <p>{{'ME.TEXT' | translate}}</p>
        <span>
            <button (click)="goToContact()">{{'MESSAGE' | translate}}</button>
        </span>
    </div>
    <div class="my-image">
        <div class="image-radius">
            <img src="/assets/img/mein_bild_2.jpg" alt="">
        </div>
    </div>
</div>