<div class="pointer-ball">
    <img src="/assets/img/Ellipse.png" alt="">
</div>
<div class="my-description">
    <div class="me-text">
        <h2>Let's work together</h2>
        <p>I am a Front-end developer based in Willstätt, Baden-Würtemberg. I enjay helping designers and campanies
            bring their ideas into real life. i am looking forward to continuing my developer position. <br>If you think
            I'd be a good match for your projects, contact me !</p>
    </div>
    <div class="my-image">
        <img src="/assets/img/mein_bild_1.png" alt="">
    </div>
</div>