<div class="pointer-ball">
    <img src="/assets/img/Ellipse.png" alt="">
</div>
<div class="my-description ma-le ma-re">
    <div class="me-text">
        <h2>Let's work together</h2>
        <p>I am a Front-end developer based in Willstätt, Baden-Würtemberg. <br> I enjay helping designers  and campanies
            bring their ideas into real life. <br> I am looking forward to continuing my developer position. <br> <br>If you
            think
            I'd be a good match for your projects, contact me !</p>
        <span>
            <button (click)="goToContact()">Send a message</button>
        </span>
    </div>
    <div class="my-image">
        <div class="image-radius">
            <img src="/assets/img/mein_bild_2.jpg" alt="">
        </div>
    </div>
</div>