<div class="contact-background" id="contactStart">
    <div class="contact-main  ">
        <div class="contact-text ma-le">
            <h2>{{'CONTACT.NAME' | translate}}</h2>
            <h3>{{'CONTACT.PROBLEM' | translate}}</h3>
            <span>{{'CONTACT.TEXT' | translate}} <br>
                {{'CONTACT.TEXT1' | translate}} <br>
                {{'CONTACT.TEXT2' | translate}}</span>
            <p>{{'CONTACT.NEED' | translate}}</p>
            <div class="contact-bigball">
                <img src="/assets/img/Ellipse.png" alt="">
            </div>
        </div>
        <div class="contact-input ma-re">
            <form (submit)="sendMail()" ngNativeValidate #myForm>
                <input type="text" name="name" required placeholder="{{'CONTACT.PLACENAME' | translate}}" #nameField>
                <input type="email" email="email" required placeholder="{{'CONTACT.PLACEMAIL' | translate}}" #mailField>
                <textarea name="message" required id="" cols="30" rows="10"
                    placeholder="{{'CONTACT.PLACETEXT' | translate}}" #textField></textarea>
                <div class="button-contact">
                    <button #sendButton>{{'CONTACT.PLACEBUTTON' | translate}}</button>
                </div>
            </form>
            <div id="request" class=" d-none request-main ">
                <div class="request animationFadeInbottom">
                    <p>{{'REQUEST' | translate}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="goup-image ma-re ma-le" (click)="onActivate($event)">

    </div>
</div>