.contact-main {
    display: flex;
    justify-content: space-between;

}

.contact-background {
    background: rgb(234, 240, 255);
    background: linear-gradient(0deg, rgba(234, 240, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.contact-text {
    h2 {
        font-size: 90px;
        color: #5988FF;
        font-weight: 400;
    }

    h3 {
        font-family: 'Montserrat';
        font-size: 38px;
        font-weight: 700;
        color: #5988FF;
    }

    span {
        font-family: 'Montserrat';
        font-size: 16px;
        font-weight: 400;
    }

    p {
        color: #5988FF;
        font-family: 'Montserrat';
        font-size: 19px;
        font-weight: 400;
    }
}

.contact-input {
    margin-top: 280px;
    position: relative;
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    input {
        width: 617px;
        height: 50px;
        border-radius: 10px;
        border: 1px solid #5988FF;
        margin: 15px 25px;
        font-family: 'Montserrat';
        font-size: 16px;
        padding: 10px 20px;
        cursor: pointer;
        &:hover{
            box-shadow: 0 0 0 1px #5988FF;  
        }
        &:focus{
            outline: none;
        }
    }

    textarea {
        margin: 15px 25px;
        max-width: 617px;
        min-width: 617px;
        min-height: 200px;
        border: 1px solid #5988FF;
        border-radius: 10px;
        font-family: 'Montserrat';
        font-size: 16px;
        padding: 10px 20px;
        cursor: pointer;
        &:hover{
            box-shadow: 0 0 0 1px #5988FF;   
        }
        &:focus{
            outline: none;
        }
    }

}

.button-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;

    button {
        margin-top: 20px;
        height: 45px;
        width: 180px;
        border-radius: 10px;
        font-size: 20px;
        color: #5988FF;
        border: 2px solid #5988FF;
        cursor: pointer;
        background-color: transparent;
        position: relative;
        transition: all 0.2s;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0%;
            height: 0%;
            border-radius: 8px;
            background: rgb(90, 136, 255);
            background: linear-gradient(120deg, rgba(90, 136, 255, 1) 0%, rgba(18, 81, 241, 1) 100%);
            transition: all 0.2s;
            z-index: -1;
        }

        &:hover:before {
            width: 100%;
            height: 100%;
        }

        &:hover {
            color: white;
            width: 190px;
            height: 55px;
            z-index: 0;
        }
    }
}

.contact-bigball {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 37px;

    img {
        width: 204px;
    }
}

.goup-image {
    width: 39px;
    height: 39px;
    background: url("/assets/img/goup.png");
    background-repeat: no-repeat;
    margin-top: 50px;
    padding-bottom: 50px;
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
        background: url("/assets/img/up.png");
        background-repeat: no-repeat;
    }

}

.d-none{
    display: none !important;
}

.request-main{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background: rgb(234, 240, 255);
    background: linear-gradient(0deg, rgba(234, 240, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    .request{
        text-align: center;
        p{
            font-size: 32px;
            color: #5988FF;
        }
    }
}

.animationFadeInbottom {
    animation: fadeInbottom 1s ease 0s 1 normal forwards;
}

@keyframes fadeInbottom {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

    0% {
        transform: translatey(100%);
    }

    100% {
        transform: translatey(0);
    }
}



@media (max-width:1100px) {
    .contact-main {
        flex-direction: column;
    }

    .contact-bigball {
        z-index: 9;
        position: absolute;
        left: calc(50vw - 102px);
        top: 500px;
    }

    .contact-text {
        position: relative;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 16px;
        margin-right: 16px;
        h3 {
            margin-top: 0;
        }
    }

    .contact-input {
        margin: 0;
        z-index: 10;
    }
}


@media (max-width:650px) {
    .contact-input {
        input {
            width: 90%;
        }
        textarea {
            min-width: 90%;
            
        }
    }  
}

@media (max-width:650px){
    .contact-bigball {
        
        top: 600px;
    }
    .goup-image{
        margin-left: 20px;
    }
}

@media (max-width:450px){
    .contact-input {
        input {
            width: 80%;
        }
        textarea {
            min-width: 80%;
            
        }
    } 

    .contact-text{
        h2{
            text-align: center;
        }
        h3{
            text-align: center;
        }
        span{
            text-align: center;
        }
        p{
            text-align: center;
        }
    }
}
