<div>
    <div>
        <h2>Contact</h2>
        <h3>Got a problem to solve?</h3>
        <span>Contact me trough this form, i am interested in hearing you, knowing your ideas and contributing to your projects with my work.</span>
        <p>Neea a Frontend developer? <b>Contact me!</b></p>
    </div>
    <div>
        <form action="">
            <input type="text">
            <input type="text">
            <textarea name="" id="" cols="30" rows="10"></textarea>
            <button>Say hello ;)</button>
        </form>
    </div>
</div>