<div class="work-main ma-le ma-re">
    <div class="img-container"><a href="http://sebastian-benning.developerakademie.net/Join/index.html"><img class="image-work" src="/assets/img/join.png" alt=""></a></div>
    <div class="work-text">
        <h3>Join</h3>
        <span>Angular | Typescript | HTML | CSS | Firebase</span>
        <p>{{'JOINTEXT' | translate}}</p>
        <div class="button-join">
            <a href="https://github.com/SebastianBenning/Join"><button>Github</button></a>
        </div>
    </div>
</div>