<div class="work-main ma-le ma-re">
    <div class="img-container"><a href="http://sebastian-benning.developerakademie.net/Join/index.html"><img class="image-work" src="/assets/img/join.png" alt=""></a></div>
    <div class="work-text">
        <h3>Join</h3>
        <span>Angular | Typescript | HTML | CSS | Firebase</span>
        <p>Task manager inspired by the Kanban System. Create and <br> organize tasks using drag and drop functions, assign
            users and <br> categories</p>
        <div class="button-join">
            <button>Github</button>
        </div>
    </div>
</div>