.work-main{
    display: flex;
    align-items: flex-end;
}

.work-text{
    margin-left: 88px;
    h3{
        font-size: 45px;
        color: #5988FF;
    }
    span{
        color: #5988FF;
        font-size: 23px;
        font-family: 'Montserrat';
    }
    p{
        font-size: 16px;
        font-family: 'Montserrat';
    }
    button{
        margin-top: 20px;
        width: 150px;
        height: 50px;
        font-family: 'Montserrat';
        font-size: 23px;
        color: #5988FF;
        border: 2px solid #5988FF;
        border-radius: 10px;
        background-color: transparent;
    }
}

.image-work{
    box-shadow: 5px 5px 12px -6px rgba(0,0,0,0.66);
}