<div class="impressum-main">
    <h1>Impressum</h1>

    <h2>{{'IMPRESS.FIRST' | translate}}</h2>
    <p>Sebastian Benning<br />
        Willst&auml;tterstra&szlig;e.7<br />
        77731 Willst&auml;tt</p>

    <h2>{{'IMPRESS.CONTACT' | translate}}</h2>
    <p>{{'IMPRESS.PHONE' | translate}}: 017623228904<br />
        E-Mail: mustermann@musterfirma.de</p>

    <h2>{{'IMPRESS.CONSUMER' | translate}}</h2>
    <p>{{'IMPRESS.CONSUMERTEXT' | translate}}</p>

    <p>Quelle: <a href="https://www.e-recht24.de">e-recht24.de</a></p>
    <p style="font-size: 23px; cursor: pointer;" routerLink="/"><- {{'IMPRESS.BACK' | translate}}</p>
</div>