.my-work {
    margin-top: 100px;
    margin-bottom: 100px;

    h2 {
        font-size: 96px;
        font-weight: 400;
        color: #5988FF;
        line-height: 100%;
    }

    p {
        font-size: 23px;
        font-family: 'Montserrat';
    }
}

.small-ball {
    width: 109px;
    position: absolute;
    left: 563px;
    top: 2450px;
}

.big-ball {
    width: 183px;
    position: absolute;
    right: 150px;
    top: 2650px;
}