<div class="start-body">
    <div class="flex bet ma-le ma-re">
        <div>
            <p>Sebastian</p>
        </div>
        <div>
            <a href="">About me</a>
            <a href="">Skills set</a>
            <a href="">My work</a>
        </div>
    </div>
    <div class="flex start-img">
        <div class="img-container"><img class="my-img-header" src="/assets/img/mein_bild.png" alt=""></div>
        <div class="posi-header-text">
            <p>Hello! I am Sebastian</p>
            <h1>FRONTEND<br>DEVELOPER</h1>
        </div>
    </div>
</div>
