.start-body {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background: rgb(234, 240, 255);
    background: linear-gradient(0deg, rgba(234, 240, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
    overflow: hidden;
    position: relative;
}

.bet {
    justify-content: space-between;
    padding-top: 20px;
}

.img-container {
    z-index: 10;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.flex {
    display: flex;
    align-items: center;

}

.flex-only {
    display: flex;
    justify-content: space-between;
}

.start-img {
    height: calc(100% - 86px);

}

.my-img-header {
    height: 100%;
    margin-left: 40px;

}

.overflow{
    overflow-x: hidden;
    position: absolute;
    top: -200px;
    left: -200px;
    overflow-x: hidden;
    z-index: 9;
}

.first-blue-ball {    
    width: 900px;   
}

.header-text {
    z-index: 10;

    p {
        margin: 0;
        font-size: 40px;
    }

}

.header-links {
    z-index: 10;
    display: flex;
    cursor: pointer;
    p {
        color: #5988FF;
        font-size: 23px;
        text-decoration: none;
        font-family: 'Montserrat';
        margin-left: 32px;
        margin-right: 32px;
        &:hover{
            font-weight: bold;
        }
    }
}

.posi-header-text {
    margin-top: 80px;
    z-index: 10;
    height: calc(100% - 80px);

    h1 {
        color: #5988FF;
        line-height: 100%;
        margin: 0;
        font-size: 158px;
        font-weight: 400;
    }

    p {
        color: #5988FF;
        font-family: 'Montserrat';
        margin: 0;
        font-size: 64px;
        font-weight: 400;
    }
}

.scroll-icon {
    margin-top: 50px;
    display: flex;
    justify-content: center;

    span {
        font-family: 'Montserrat';
        font-size: 23px;
        color: #5988FF;
    }
}

.social-main {
    display: flex;
    height: 41.4%;
    overflow: auto;
}

.social-left {
    width: 50%;
    border-right: 3px #5988FF solid;

}

.social-header {
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    img {
        cursor: pointer;
        margin-top: 12px;
        margin-bottom: 12px;
        width: 30px;

        &:hover {
            padding-right: 10px;
        }
    }
}

@media (max-width:1600px) {
    .posi-header-text {
        h1 {
            font-size: 100px;
        }

        p {
            font-size: 44px;
        }
    }

    .social-main {
        height: 59%;
    }

}

@media (max-width:1400px) {

    .img-container {
        z-index: 10;
        height: 100%;

        img {
            height: 90%;
        }
    }
}

@media (max-width:1300px) {
    .posi-header-text {
        h1 {
            font-size: 90px;
        }

        p {
            font-size: 34px;
        }
    }

    .social-main {
        height: 62.5%;
    }

    .img-container {
        z-index: 10;
        height: 100%;

        img {
            height: 80%;
        }
    }
}

@media (max-width:1200px) {
    .img-container {
        z-index: 10;
        height: 100%;

        img {

            height: 70%;

        }
    }

    .header-links{
        display: none;
    }
}

@media (max-width:1100px){
    .scroll-icon{
        display: none;
    }
    .social-main{
        display: none;
    }
    .posi-header-text{
        height: auto;
        h1{
            color: white;
            font-size: 100px;
        }
        p{
            color: white;
        }
    }
    .img-container{
        height: auto;
        img{
            height: 600px;
        }
    }
    .flex-only{
        flex-direction: column-reverse;
        align-items: center;
        margin-left: 100px;
    }

    .my-img-header{
        margin: 0;
    }

    .first-blue-ball{
        width: 1000px;
    }
}

@media (max-width:950px){
    .first-blue-ball{
        width: 950px;
    }
}

@media (max-width:650px){
    .first-blue-ball{
        width: 800px;
    }
    .flex{
        margin: 0;
        margin-left: 24px;
    }
    .posi-header-text{
        h1{
           font-size: 70px; 
        }
        p{
            font-size: 32px;
        }
    }
}

@media (max-width:450px){
    .flex-only{
        margin: 0;
    }
    .posi-header-text{
        height: 30%;
        
    }
    .img-container{
        height: 70%;
        justify-content: center;
        img{
            
            height: 100%;
        }
        
    }
}

@media (max-width:400px){
    .posi-header-text{
        h1{
           font-size: 62px; 
        }
        p{
            font-size: 24px;
        }
    }
}