<div class="start-body">
    <div class="overflow">
        <img class="first-blue-ball" src="/assets/img/Ellipse.png" alt="">
    </div>
    <div class="flex bet ma-le ma-re">
        <div class="header-text">
            <p>><span>S</span>e<span>B</span>astian<</p>
        </div>
        <div class="header-links">
            <p (click)="goToAboutMe('aboutMe')">{{'LINKS.ABOUTME' | translate}}</p>
            <p (click)="goToAboutMe('skillSet')">{{'LINKS.SKILLSET' | translate}}</p>
            <p (click)="goToAboutMe('myWork')">{{'LINKS.MYWORK' | translate}}</p>
        </div>
        <div class="row d-none">
            <input type="checkbox" id="hamburg">
            <label for="hamburg" class="hamburg" (click)="toggleMobileMenu()">
                <span id="lines" class="line"></span>
                <span id="lines1" class="line"></span>
                <span id="lines2" class="line"></span>
            </label>
        </div>
        <div id="mobileMenu" class="mobile-links dnone animationFadeInRight">
            <div class="mobile-p-tek">
                <p (click)="goToMobileMe('aboutMe')">{{'LINKS.ABOUTME' | translate}}</p>
                <p (click)="goToMobileMe('skillSet')">{{'LINKS.SKILLSET' | translate}}</p>
                <p (click)="goToMobileMe('myWork')">{{'LINKS.MYWORK' | translate}}</p>
                <p (click)="goToMobileMe('contactStart')">{{'LINKS.CONTACT' | translate}}</p>
            </div>
        </div>
    </div>
    <div class="flex-only start-img  ma-re">
        <div class="img-container"><img class="my-img-header" src="/assets/img/mein_bild.png" alt=""></div>
        <div class="posi-header-text">
            <div>
                <p>{{'TITLE' | translate}}</p>
                <h1>FRONTEND<br>DEVELOPER</h1>
            </div>
            <div class="scroll-icon">
                <span>SCROLL</span>
            </div>
            <div class="social-main">
                <div class="social-left"></div>
                <div class="social-header">
                    <a href="https://github.com/SebastianBenning"><img src="assets/img/git.png" href alt=""></a>
                    <img (click)="goToMobileMe('contactStart')" src="assets/img/mail.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>