.skillmain {
    background: rgb(90, 136, 255);
    background: linear-gradient(120deg, rgba(90, 136, 255, 1) 0%, rgba(18, 81, 241, 1) 100%);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;


    h2 {
        font-size: 96px;
        color: white;
    }

    span {
        height: 150px;
        width: 110px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding-left: 10px;
        padding-right: 10px;

        p {
            text-align: center;
            font-family: 'Montserrat';
            color: white;
            font-size: 16px;
        }

        &:hover {
            img {
                margin-bottom: 10px;
                margin-left: 5px;
            }

            p {
                font-weight: bold;
            }
        }
    }
}

.top-container {
    display: flex;
    justify-content: space-around;
    width: 90%;
    flex-wrap: wrap;
    
}

.under_container {
    margin-top: 91px;
    margin-bottom: 91px;
    display: flex;
    justify-content: space-around;
    width: 90%;
    flex-wrap: wrap;
    
}

@media (max-width:750px){
    .under_container{
        margin-top: 0;
    }
}

@media (max-width:450px){
    .skillmain {
        h2{
            font-size: 63px;
        }
        
    }
}

