<div class="skillmain" id="skillSet">
    <h2>{{'LINKS.SKILLSET' | translate}}</h2>
    <div class="top-container">
        <span><img src="/assets/img/Angular.png" alt=""><p>Angular</p></span>
        <span><img src="/assets/img/typescript.png" alt=""><p>TypeScript</p></span>
        <span><img src="/assets/img/Javascript.png" alt=""><p>JavaScript</p></span>
        <span><img src="/assets/img/html.png" alt=""><p>HTML</p></span>
        <span><img src="/assets/img/Scrum.png" alt=""><p>Scrum</p></span>
        
    </div>
    <div class="under_container">
        <span><img src="/assets/img/Firebase.png" alt=""><p>Firebase</p></span>
        <span><img src="/assets/img/git_1.png" alt=""><p>GIT</p></span>
        <span><img src="/assets/img/css.png" alt=""><p>CSS</p></span>
        <span><img src="/assets/img/api.png" alt=""><p>API</p></span>
        <span><img src="/assets/img/Group.png" alt=""><p>Material <br>Design</p></span>
    </div>
</div>
